h1 {
  color: #ff0035;
  font-family: Monospace Monaco;
  font-weight: bold;
}

h2 {
  color:#ff0035;
  font-family: Monospace Monaco;;
  font-weight: 700;
}

p {
  color:#ff0035;
  font-family: Lucida console;
  font-size: large;
  font-weight: 500;
}

body {
  background-color: #1f1b1c;
}

img {
  width: 800px;
  height: auto;
  border: solid 4px #ff0035;
  margin-top: 2%;
}

input {
  background-color: #e9ecef;
  font-weight: 600;
  font-size: #1f1b1c;
}

label {
  color:#ff0035;
  font-weight: 700;
  font-family: Lucida console;
}

button {
  background-color: #ff0035;
  color: #1f1b1c;
  font-weight: 700;
  font-family: Lucida console;
}

hr {
  color: #ff0035;
}

.story {
  transition-property: font-size;
  transition-duration: 1s;
  transition-delay: 0.5;
}

.story:hover {
  font-size: 20px;
}